#display-01 div {
	  display: inline;
	  border: 1px solid blue;
	  margin: 20px;
	}

#display-02 span {
	  display: block;
	  border: 1px solid red;
	}

#display-03 div { 
	  display: inline-block;
	  border: 1px solid green;
	  width: 50px;
	  height: 50px;  
	}

#display-04 div:first-child {
	  color: white;
	}
	  
#display-05 a {
          display: inline-block;
	  position: absolute;
	  padding-top: 10px;
	  padding-bottom: 10px; 
	  background-color: orange;
	  border: 1px solid blue;
	  width:50%;	
	  left:25%;
	  top:25%;
	}

#boxmodel-01 div {
	  width: 50%;
	  padding: 20px;
	  border: 10px solid black;
	  margin-left: 20%;
	}

#boxmodel-02 div {
	  box-sizing: border-box;
	  width: 50%;
          padding: 20px;
          border: 10px solid black;
          margin-left: 20%;
	}

#float-01 img {
	  float: left;
	  margin-right: 20px;
	  margin-top: 25px;
	}

#float-02 img {
	  float: right;
	  margin-left: 20px;
	  margin: 25px;
	}

#float-02 p {
	  text-align: justify;
	}

#float-03 img {
	  float: left; 
	  margin-top: 10px;
	  margin-bottom: 10px;
	  margin-left: 10px;
	  margin-right: 20px;
	}

#float-03 .clear {
	  clear: left;
	}

#float-04 img {
	  float: left;
	  margin: 10px;
	  margin-bottom: 10px;
	  margin-left: 10px;
	  margin-right: 20px;
	  }

#float-04 div {
	  background-color: lightblue;
	  content: "";
 	  display: table;
 	  clear: both;
	}
