/* Your Stylesheet */

/* All your edits should go here */

#display-01 div{
  display: inline;
  border:.5px solid blue;
  margin: 20px;


}

#display-02 span{
display: block;
border: .5px solid red;
width: 100%;
}

#display-03 div{
  display: inline;
  box-sizing: content-box;
  height: 250px;
  width: 250px;
  padding: 30px;
  border:.5px solid green;
}

#display-04 div:nth-of-type(1){
  display: none;

}
#display-05 a{
  display:block;
  background-color: grey;
  color: white;
  padding: 10px;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

#boxmodel-01 div{
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 2rem solid blue;

  padding: 20px;

}

#boxmodel-02 div{
  box-sizing: border-box;
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 2rem solid blue;

  padding: 20px;
}

#float-01 img{
  float:left;
  margin: 5%;
  margin-left: 0

}
#float-02 img{
  float:right;
  margin: 5%;
  margin-right: 0

}
