/* Your Stylesheet */

/* All your edits should go here */
div {
  display: inline;
  border: thin solid blue;
  margin: 20px;
}

span {
  display: block;
  border: thin solid red;
  border-width: 100%;
}
